@model CourseWorkDB.DataBase.Event

@if (Model.Type == "Служба")
{
    <form asp-action="EditEvent">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="id" value="@Model.Type" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PriestId" class="control-label"></label>
            <input asp-for="PriestId" class="form-control" />
            <span asp-validation-for="PriestId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DivineService.Justification" class="control-label"></label>
            <input name="justification" asp-for="DivineService.Justification" class="form-control" />
            <span asp-validation-for="DivineService.Justification" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DivineService.Prayer" class="control-label"></label>
            <input name="prayer" asp-for="DivineService.Prayer" class="form-control" />
            <span asp-validation-for="DivineService.Prayer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
}

