@model CourseWorkDB.DataBase.DivineService

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>DivineService</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Justification" class="control-label"></label>
                <input asp-for="Justification" class="form-control" />
                <span asp-validation-for="Justification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prayer" class="control-label"></label>
                <input asp-for="Prayer" class="form-control" />
                <span asp-validation-for="Prayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

