@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в автоматизированную информационную систему "Церковный приход"</h1>
    <p>Для начала работы перейдите в любой из пунктов меню</p>
</div>
