@using CourseWorkDB.DataBase
@model CourseWorkDB.Models.DivineServiceHelper

@{
    ViewData["Title"] = "Добавить службу";
}
@{
    var db = new ChurchParishCourseWorkContext();
    List<Priest> priests = db.Priests.ToList();
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDivineService">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Священнослужитель</label>
                <select name="priestId" class="form-select">
                    @foreach (var priest in priests)
                    {
                        <option value="@priest.Id">@priest.Title @priest.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Justification" class="control-label"></label>
                <input asp-for="Justification" class="form-control" />
                <span asp-validation-for="Justification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prayer" class="control-label"></label>
                <input asp-for="Prayer" class="form-control" />
                <span asp-validation-for="Prayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

